@use "./variables" as *;
@use "./typography" as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin bold {
    font-family: "Avenir", Arial, Helvetica, sans-serif;
    font-weight: 700;
}

@mixin regular {
    font-family: "Avenir", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin reset-link {
    text-decoration: none;
    color:inherit;
}
