@font-face {
    font-family: "Avenir";
    src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf) format('OpenType'), url(../../assets/fonts/Alternative/AvenirNextLTPro.ttf) format('TrueType');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf) format('OpenType'), url(../../assets/fonts/Alternative/AvenirNextLTProBold.ttf) format('TrueType');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "friends";
    src: url(../../assets/fonts/PermanentMarker-Regular.ttf) format('TrueType');
    font-weight: 400;
    font-style: normal;
}